.App{
  background-color:#333
}

html {
  background-color: #333;
  border-left: 3px solid #a6c7dd; 
  border-right: 3px solid #a6c7dd;
  border-top: 3px solid #a6c7dd;
  border-radius: 10px;
  outline: 5px rgb(132, 29, 29);
  
}

.city-grid{
  color:#a6c7dd
}

.row{
  display:flex;
  justify-content: center;
  grid-column-gap: 4rem;
  
}

.column{
  box-shadow: 0 4px 8px 0 #f55c5c, 0 6px 20px 0 #ae3525;
  color: #a6c7dd;
  text-shadow: 1px 1px #e13715;
}



.home-image {
  width:  300px;
  height: 300px;
  object-fit: cover;
  background-color: #a6c7dd;
  border: #0d0e0e;
  opacity: 0.5;
  z-index: .5;
 
}

.home-image:hover{
  opacity: 1;
}

.header {
  padding: 10px;
  text-align: center;
  background-color: #333;
  /* background: radial-gradient( circle 1224px at 10.6% 8.8%,  rgb(37, 33, 33) 0%, rgb(248, 244, 244) 100.2% );; */
  color: white;
  font-size: 30px;
  height: 100px;
  
}

#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  right: 0 !important;
  transition: 350ms;
}
.menu__btn {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 2;
  
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #34bfe6;
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  right: 100%;
  width: 250px;
  height: 20%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #a6c7dd;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
  transition: .5s;
  z-index: 1;
  opacity: .75;
  
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 3s;
  
}
.menu__item:hover {
  background-color: #CFD8DC;
}

.homepage-image {
  display: block;
  margin-left: auto;
  margin-right: 150px;
  width: 50%;
  justify-content: space-around;
}

.header-text{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color:#a6c7dd
  
}


.city-cards img {
  width:  195px;
  height: 200px;
  object-fit: cover;
  background-color: #a6c7dd;
  border: #0d0e0e;
  opacity: 0.5;
  
}

.city-cards{
  width:  195px;
  
}

.city-cards img:hover{
  opacity: 1;
}

.city-cards {

  border: 3px solid #a6c7dd;
  margin-bottom: 1rem;
  box-shadow: 0 4px 8px 0 #f55c5c, 0 6px 20px 0 #ae3525;
  
 
}

.city-grid{
  display: grid;
  grid-template-columns: 200px 200px 200px;
  margin: auto;
  width: 50%;
  margin-bottom: 1rem;
  justify-content: space-around;
  grid-column-gap: 10rem;
  grid-row-gap: 4rem;

  
  
  padding: 10px;
}

.header-text{
  color: #a6c7dd;
  text-shadow: 2px 2px #f55c5c;
}

.page-banner{
  text-align: center;
  color: #cdf032;
  text-shadow: 1px 1px #a6c7dd;
  border: #a6c7dd;
  
}

.app-form {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #333;
}

input[type="text"],
input[type="password"] {
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: #a6c7dd;
  border: 1px solid #01d28e;
  color: #fff;
  padding: 10px 20px;
}

input[type="submit"]:hover {
  background: #6cf0c2;
}

.button-container {
  display: flex;
  justify-content: center;
}



.login-form {
  background-color: white;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(16, 203, 241, 0.842), 0 6px 20px 0 rgb(69, 84, 223);
}

.list-container {
  display: flex;
}

.error {
  color: red;
  font-size: 12px;
}

.title {
  font-size: 25px;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}

.page-navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #a6c7dd;
  box-shadow: 0 4px 8px 0 #f55c5c, 0 6px 20px 0 #ae3525;
   
  overflow: hidden;
}

.page-navbar li{
  display: inline;
  border-right: 1px solid rgb(5, 4, 4);
}

.page-navbar li a {
  display: block;
  color: rgb(4, 4, 4);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  display: inline;
 
}

.search-right{
  float: right;
}

.date-picker{
  float: right;
}


/* .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
} */

/* li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none
} */

.dropdown:hover .dropbtn {
  background-color: rgb(197, 224, 108);
}

.dropdown:hover .dropdown-content {
  display: block;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(220, 46, 46, 0.748);
  z-index: 1;
  
}
.dropdown-content a:hover {background-color: rgb(197, 224, 108);}





.unfollow-button{
  background-color: #34bfe6;
}

.footer {
  
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #a6c7dd;
  color: rgb(7, 7, 7);
  text-align: center;
}


.band-name{
  color: rgb(166, 229, 8);
}

.venue-name{
color:#ae3525
}
